* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 1rem;
  gap: 1rem;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 200px;
  background: #000;
  border: 1px solid rgba(128, 128, 128, 0.571);
  position: absolute;
  z-index: 999;
  display: none;
  border-radius: 10px;
  margin-top: 20px;
}
ul li a:hover {
  color: gray;
}
ul li:hover ul.dropdown {
  display: block;
}

.padding-border {
  padding-left: 300px;
  padding-right: 300px;
}

/* main stuff start */

.main-background-color {
  background-color: black;
}

.align-left {
  display: flex;
  justify-content: start;
  align-items: start;
}

.align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: end;
  align-items: end;
}

.main-color {
  color: white;
}

.rounded-corners {
  border-radius: 20px;
}

.margin-around {
  padding: 20px;
}

.text-dec {
  text-decoration: none;
}

.h1-size {
  font-size: 70px;
}

.p-size {
  font-size: 15px;
}

.secondary-color {
  color: rgba(255, 255, 255, 0.575);
}

.img-small {
  max-width: 100%;
}

/* main stuff end */

.icons {
  font-size: 30px;
}

.btn {
  text-decoration: none;
  padding: 13px 20px;
}

.test {
  display: flex;
  flex-basis: 20%;
}

.btn-primary {
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: white;
  color: black;
}

.btn-secondary {
  background-color: white;
  transition: 0.3s ease-in-out;
  color: black;
}

.btn-secondary:hover {
  border: 1px solid white;
  background: none;
  color: white;
}

.logo {
  font-size: 30px;
}

.hero-height {
  height: 92vh;
}

.hero-image {
  background-repeat: no-repeat;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}

.image-home {
  width: 100%;
  height: 70%;
  position: absolute;
  top: auto;
  bottom: -3%;
  left: 26%;
  right: 0%;
  z-index: 1;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  border: 1px solid red;
}

.tests {
  padding: 0;
  margin: 0;
}

.row-and-gap {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
